<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
             http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcache"/>
    </bean>

    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml"/>
    </bean>

    <!-- 文章缓存 -->
    <bean class="com.trade.cache.data.impl.RealTimeArticleServiceImpl"/>

    <cache:annotation-driven cache-manager="cacheManager"/>

    <!--方法缓存定义配置-->

    <cache:advice id="cacheAdvice" cache-manager="cacheManager">
        <cache:caching cache="common">
            <cache:cacheable method="getHourPriceTrendData" key="'trade:cache:getHourPriceTrendData'"/>
            <cache:cacheable method="getArticleList" key="'getArticleList:' + #p0 + ':' + #p1 + ':' + #p2"/>
        </cache:caching>
    </cache:advice>

    <aop:config>
        <aop:advisor advice-ref="cacheAdvice" pointcut="execution(* com.trade.cache.data.RealTimePriceService.*(..))"/>
        <aop:advisor advice-ref="cacheAdvice" pointcut="execution(* com.trade.cache.data.RealTimeArticleService.*(..))"/>
        <aop:advisor advice-ref="cacheAdvice" pointcut="execution(* com.trade.cache.data.RealTimeDataService.*(..))"/>
    </aop:config>

</beans>