<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath*:mongodb.properties"/>
        <property name="ignoreUnresolvablePlaceholders" value="true" />
    </bean>

    <bean id="mongoClient" class="com.mongodb.MongoClient">
        <constructor-arg name="host" value="${mongo.host}"/>
    </bean>

    <bean class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongo" ref="mongoClient"/>
        <constructor-arg name="databaseName" value="${mongo.dbName}"/>
    </bean>

</beans>