<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">


	<import resource="classpath*:applicationContext-dataSource.xml"/>
	<import resource="classpath*:applicationContext-redis.xml"/>

	<!--k线任务-->
	<bean id="job1" class="com.trade.jobs.kline.KlineJob"/>
	<bean id="job2" class="com.trade.jobs.kline.KlineSyncCacheJob"/>
	<bean id="job3" class="com.trade.jobs.kline.KlineCalculateJob"/>

	<!--24小时/一周涨跌幅、成交量/额-->
	<bean class="com.trade.jobs.kline.AutoDealingOneDayData"/>
	<bean class="com.trade.jobs.kline.MarkServiceImpl"/>
	<bean class="com.trade.jobs.kline.CacheDataServiceImpl"/>

	<!--<bean class="com.trade.jobs.kline.CoinUpdateQueue"/>-->

	<bean class="java.util.concurrent.Executors" factory-method="newCachedThreadPool">
	</bean>

	<task:scheduler id="scheduler" pool-size="3"/>
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="job1" method="run" cron="0 * * * * *"/>
		<task:scheduled ref="job2" method="run" cron="*/3 * * * * *"/>
		<task:scheduled ref="job3" method="run" cron="*/10 * * * * *"/>
		<!--<task:scheduled ref="job1" method="run" fixed-delay="60000"/>-->
		<!--<task:scheduled ref="job2" method="run" fixed-delay="60000"/>-->
		<!--<task:scheduled ref="job3" method="run" fixed-delay="60000"/>-->
	</task:scheduled-tasks>

	<context:annotation-config />

</beans>
